<div class="d-flex flex-row-reverse">
  <a href="/posts/new" style="padding-left: 10px;">
    <input type="button" name="newPost" value="New Post">
  </a>
  <a href="/posts">
    <input type="button" name="listPosts" value="List Post">
  </a>
</div>

<h1>New Post</h1>

<%= render 'form', post: @post %>

<%#= link_to 'Back', posts_path %>
